<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header__item-list">
                <li class="main-header_item"><a href="/shop">Shop</a></li>
                <li class="main-header_item"><a  href="admin/add-product">Add Product</a></li>
                <li class="main-header_item"><a class="active" href="user/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="contact-us-form" action="/contact-us" method = "POST"></form>
            <div class="contact-us-form-control">
                <label for="Name">Name</label><br>
                <input type="text" id="name"><br><br>
                <label for="Email">Email</label><br>
                <input type="text" id="email"><br><br>

            </div>
            
            <button type="submit" name="btn" id="btn">Submit</button>
    </main>

</body>
</html>